
.vs/sicles.github.io/FileContentIndex/18f68d65-5d90-4d88-a4be-cc718302ae5c.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/sicles.github.io/config/applicationhost.config
.vs/sicles.github.io/FileContentIndex/91029a8d-7b02-462b-8faf-a79f4edf85e5.vsidx
.vs/sicles.github.io/FileContentIndex/cd0fcb40-497c-4706-b8ce-5582a6ee1a60.vsidx
.vs/sicles.github.io/FileContentIndex/76377be5-5a67-4a8b-92d2-da794e4f196a.vsidx
